VistaPuntoVenta/src/conf/xml-resources/web-service-references/PuntoVentaOperaciones/wsdl/localhost_8080/FacturaSW/PuntoVentaOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="PuntoVentaOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/FacturaSW/PuntoVentaOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="encrypt">
<part name="parameters" element="tns:encrypt"/>
</message>
<message name="encryptResponse">
<part name="parameters" element="tns:encryptResponse"/>
</message>
<message name="decrypt">
<part name="parameters" element="tns:decrypt"/>
</message>
<message name="decryptResponse">
<part name="parameters" element="tns:decryptResponse"/>
</message>
<message name="getListaProductos">
<part name="parameters" element="tns:getListaProductos"/>
</message>
<message name="getListaProductosResponse">
<part name="parameters" element="tns:getListaProductosResponse"/>
</message>
<message name="registrarPersona">
<part name="parameters" element="tns:registrarPersona"/>
</message>
<message name="registrarPersonaResponse">
<part name="parameters" element="tns:registrarPersonaResponse"/>
</message>
<message name="siExisteUsuario">
<part name="parameters" element="tns:siExisteUsuario"/>
</message>
<message name="siExisteUsuarioResponse">
<part name="parameters" element="tns:siExisteUsuarioResponse"/>
</message>
<message name="siExisteRol">
<part name="parameters" element="tns:siExisteRol"/>
</message>
<message name="siExisteRolResponse">
<part name="parameters" element="tns:siExisteRolResponse"/>
</message>
<message name="registrarCompra">
<part name="parameters" element="tns:registrarCompra"/>
</message>
<message name="registrarCompraResponse">
<part name="parameters" element="tns:registrarCompraResponse"/>
</message>
<message name="buscarPorDNI">
<part name="parameters" element="tns:buscarPorDNI"/>
</message>
<message name="buscarPorDNIResponse">
<part name="parameters" element="tns:buscarPorDNIResponse"/>
</message>
<message name="estadoRol">
<part name="parameters" element="tns:estadoRol"/>
</message>
<message name="estadoRolResponse">
<part name="parameters" element="tns:estadoRolResponse"/>
</message>
<message name="loadData">
<part name="parameters" element="tns:loadData"/>
</message>
<message name="loadDataResponse">
<part name="parameters" element="tns:loadDataResponse"/>
</message>
<message name="buscarNombreCompleto">
<part name="parameters" element="tns:buscarNombreCompleto"/>
</message>
<message name="buscarNombreCompletoResponse">
<part name="parameters" element="tns:buscarNombreCompletoResponse"/>
</message>
<message name="siExisteCompetencia">
<part name="parameters" element="tns:siExisteCompetencia"/>
</message>
<message name="siExisteCompetenciaResponse">
<part name="parameters" element="tns:siExisteCompetenciaResponse"/>
</message>
<message name="registrarProducto">
<part name="parameters" element="tns:registrarProducto"/>
</message>
<message name="registrarProductoResponse">
<part name="parameters" element="tns:registrarProductoResponse"/>
</message>
<message name="getListaProveedores">
<part name="parameters" element="tns:getListaProveedores"/>
</message>
<message name="getListaProveedoresResponse">
<part name="parameters" element="tns:getListaProveedoresResponse"/>
</message>
<message name="getListaClasificaciones">
<part name="parameters" element="tns:getListaClasificaciones"/>
</message>
<message name="getListaClasificacionesResponse">
<part name="parameters" element="tns:getListaClasificacionesResponse"/>
</message>
<portType name="PuntoVentaOperaciones">
<operation name="encrypt">
<input wsam:Action="http://ws/PuntoVentaOperaciones/encryptRequest" message="tns:encrypt"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/encryptResponse" message="tns:encryptResponse"/>
</operation>
<operation name="decrypt">
<input wsam:Action="http://ws/PuntoVentaOperaciones/decryptRequest" message="tns:decrypt"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/decryptResponse" message="tns:decryptResponse"/>
</operation>
<operation name="getListaProductos">
<input wsam:Action="http://ws/PuntoVentaOperaciones/getListaProductosRequest" message="tns:getListaProductos"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/getListaProductosResponse" message="tns:getListaProductosResponse"/>
</operation>
<operation name="registrarPersona">
<input wsam:Action="http://ws/PuntoVentaOperaciones/registrarPersonaRequest" message="tns:registrarPersona"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/registrarPersonaResponse" message="tns:registrarPersonaResponse"/>
</operation>
<operation name="siExisteUsuario">
<input wsam:Action="http://ws/PuntoVentaOperaciones/siExisteUsuarioRequest" message="tns:siExisteUsuario"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/siExisteUsuarioResponse" message="tns:siExisteUsuarioResponse"/>
</operation>
<operation name="siExisteRol">
<input wsam:Action="http://ws/PuntoVentaOperaciones/siExisteRolRequest" message="tns:siExisteRol"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/siExisteRolResponse" message="tns:siExisteRolResponse"/>
</operation>
<operation name="registrarCompra">
<input wsam:Action="http://ws/PuntoVentaOperaciones/registrarCompraRequest" message="tns:registrarCompra"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/registrarCompraResponse" message="tns:registrarCompraResponse"/>
</operation>
<operation name="buscarPorDNI">
<input wsam:Action="http://ws/PuntoVentaOperaciones/buscarPorDNIRequest" message="tns:buscarPorDNI"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/buscarPorDNIResponse" message="tns:buscarPorDNIResponse"/>
</operation>
<operation name="estadoRol">
<input wsam:Action="http://ws/PuntoVentaOperaciones/estadoRolRequest" message="tns:estadoRol"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/estadoRolResponse" message="tns:estadoRolResponse"/>
</operation>
<operation name="loadData">
<input wsam:Action="http://ws/PuntoVentaOperaciones/loadDataRequest" message="tns:loadData"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/loadDataResponse" message="tns:loadDataResponse"/>
</operation>
<operation name="buscarNombreCompleto">
<input wsam:Action="http://ws/PuntoVentaOperaciones/buscarNombreCompletoRequest" message="tns:buscarNombreCompleto"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/buscarNombreCompletoResponse" message="tns:buscarNombreCompletoResponse"/>
</operation>
<operation name="siExisteCompetencia">
<input wsam:Action="http://ws/PuntoVentaOperaciones/siExisteCompetenciaRequest" message="tns:siExisteCompetencia"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/siExisteCompetenciaResponse" message="tns:siExisteCompetenciaResponse"/>
</operation>
<operation name="registrarProducto">
<input wsam:Action="http://ws/PuntoVentaOperaciones/registrarProductoRequest" message="tns:registrarProducto"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/registrarProductoResponse" message="tns:registrarProductoResponse"/>
</operation>
<operation name="getListaProveedores">
<input wsam:Action="http://ws/PuntoVentaOperaciones/getListaProveedoresRequest" message="tns:getListaProveedores"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/getListaProveedoresResponse" message="tns:getListaProveedoresResponse"/>
</operation>
<operation name="getListaClasificaciones">
<input wsam:Action="http://ws/PuntoVentaOperaciones/getListaClasificacionesRequest" message="tns:getListaClasificaciones"/>
<output wsam:Action="http://ws/PuntoVentaOperaciones/getListaClasificacionesResponse" message="tns:getListaClasificacionesResponse"/>
</operation>
</portType>
<binding name="PuntoVentaOperacionesPortBinding" type="tns:PuntoVentaOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="encrypt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="decrypt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListaProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="siExisteUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="siExisteRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPorDNI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estadoRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarNombreCompleto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="siExisteCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListaProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListaClasificaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PuntoVentaOperaciones">
<port name="PuntoVentaOperacionesPort" binding="tns:PuntoVentaOperacionesPortBinding">
<soap:address location="http://localhost:8080/FacturaSW/PuntoVentaOperaciones"/>
</port>
</service>
</definitions>